<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inbox </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="deviceId"></ion-input>
    </ion-item>
    <ion-button [expand]="'block'" (click)="register()">Register</ion-button>
    <br /><br />
    <ion-item>
      <ion-input [(ngModel)]="token"></ion-input>
    </ion-item>

    <ion-button (click)="onCompleteRegistration()"
      >completeRegistration</ion-button
    >
    <br /><br />
    <ion-button (click)="getAllFiles()">Get All files</ion-button>
    <br /><br />
    <ion-item>
      <ion-select [(ngModel)]="state">
        <ion-select-option *ngFor="let st of states" [value]="st">
          {{st}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="getAllFilesWithState()"
      >Get Files With State</ion-button
    >
  </ion-list>
</ion-content>
